---
---

@import "{{ site.theme }}";

header {
  background-image: url("https://raw.githubusercontent.com/anniesheebaabcube/abcube/master/assets/images/header.png");
  background-size: cover;
}

body {
  text-align: justify;
  text-justify: inter-word;
}
