---
---

@import "{{ site.theme }}";

header {
  background-image: url("http://abcube.school/assets/images/header.png");
  background-size: cover;
  box-shadow: 1px 1px 10px #888888;
  border-bottom: 0px;
}

body {
  text-align: justify;
  text-justify: inter-word;
  background-image: url("http://abcube.school/assets/images/pattern.jpg");
}
