<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}" media="screen" type="text/css">
    <link rel="stylesheet" href="{{ '/assets/css/print.css' | relative_url }}" media="print" type="text/css">

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <title>A B Cube Montessori Preschool</title>
  </head>

  <body>
    <header>
      <div class="inner" style="text-align: center">
        <img src="https://raw.githubusercontent.com/anniesheebaabcube/abcube/master/assets/images/logo.png">
        <h1 style="color: #2879d0; width: 100%; ">A B CUBE PRE-SCHOOL</h1>
      </div>
    </header>

    <div id="content-wrapper">
      <div class="inner clearfix">
        <section id="main-content">
          {{ content }}
        </section>

        <aside id="sidebar">
          <p>
            <b>
            A B Cube has a strong legacy of nurturing the child's potential.<br/>
            Our Mentors are all Montessori trained and have more than 15 years of experience.
            <br/><br/>
            We offer Pre-School , Day Care , After School Activities.</b>
            <br/><br/>
            Play Group  ( 1 yr to 2.5 yrs)
            <br/>
             Pre-KG  ( 2.5 yrs and above)
             <br/><br/>
            Day Care ( 8:am to 8:00pm) -(6 months to 12 yrs)
            <br/><br/>
            After school Activities ( Drawing , Handwriting , Clay modeling , Art and craft , Dance )

            <br/><br/>
            <i>Thulasi Garden, No.9, Vellalar St, Mogappair West, <br />Mogappair, Chennai, <br />Tamil Nadu 600037, India</i>
            <br/><br/>
            tel: +91 86800 01273
          </p>
        </aside>
      </div>
    </div>

    {% if site.google_analytics %}
      <script type="text/javascript">
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}
  </body>
</html>
